@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AddCustomerVM
@inject IViewLocalizer localizer
<form method="post" asp-action="UpdateCustomer" asp-controller="Customers">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.CreatedTime)
    <div class="card card-primary m-3">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@localizer["Müşteri Güncelle"]</h3>
            </div>

            <div class="card-body" style="display: block;">
                <div class="form-group">
                    <label asp-for="FirstName">@localizer["Adı"]</label>
                    <input asp-for="FirstName" placeholder="@localizer["Adı"]" type="text" class="form-control" />
                    <span class="bg-danger" asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">@localizer["Soyadı"]</label>
                    <input asp-for="LastName" placeholder="@localizer["Soyadı"]" type="text" class="form-control" />
                    <span class="bg-danger" asp-validation-for="LastName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">@localizer["E-Posta"]</label>
                    <input asp-for="Email" placeholder="@localizer["E-Posta"]" type="email" class="form-control" />
                    <span class="bg-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address">@localizer["Adres"]</label>
                    <input asp-for="Address" placeholder="@localizer["Adres"]" type="text" class="form-control" />
                    <span class="bg-danger" asp-validation-for="Address"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName">@localizer["Şirket"]</label>
                    <input asp-for="CompanyName" placeholder="@localizer["Şirket"]" type="text" class="form-control" />
                    <span class="bg-danger" asp-validation-for="CompanyName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle">@localizer["Unvan"]</label>
                    <input asp-for="JobTitle" placeholder="@localizer["Unvan"]" type="text" class="form-control" />
                    <span class="bg-danger" asp-validation-for="JobTitle"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber">@localizer["Telefon Numarası"]</label>
                    <input asp-for="PhoneNumber" placeholder="@localizer["Telefon Numarası"]" type="text" class="form-control" />
                    <span class="bg-danger" asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
            <div class="card-footer">

                <a asp-action="GetAllCustomers" asp-controller="Customers" class="btn btn-secondary col-2">@localizer["Geri Dön"]</a>
                <button type="submit" class="btn btn-success col-2 float-right">@localizer["Müşteri Güncelle"] </button>
            </div>
        </div>
    </div>
</form>