@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CrmBox.Core.Domain.Identity.AppRole>
@inject IViewLocalizer localizer
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title mt-2">@localizer["Roller"] </h3>
                        <a asp-action="AddUserRole" asp-controller="AppRoles" class="btn btn-block btn-primary col-2 float-right">@localizer["Rol Ekle"]</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@localizer["Rol"] Id</th>
                                    <th>@localizer["Rol Adı"]</th>
                                    <th>@localizer["Yetki İşlemleri"]</th>
                                    <th>@localizer["Güncelle"]</th>
                                    <th>@localizer["Sil"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var number in Model)
                                {
                                    <tr>
                                        <td>@number.Id</td>
                                        <td>@number.Name</td>

                                        
                                        <td>
                                            <a asp-action="ManageUserClaims" asp-controller="AppRoles" asp-route-id="@number.Id" class="btn btn-success">@localizer["Yetki Ver"]</a>
                                        </td>
                                        <td>
                                            <a asp-action="UpdateUserRole" asp-route-id="@number.Id" class="btn btn-info">@localizer["Güncelle"]</a>
                                        </td>
                                        <td>
                                            <a asp-action="DeleteUserRole" asp-route-id="@number.Id" class="btn btn-danger col-10">@localizer["Sil"]</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>@localizer["Rol"] Id</th>
                                    <th>@localizer["Rol Adı"]</th>
                                    <th>@localizer["Yetki İşlemleri"]</th>
                                    <th>@localizer["Güncelle"]</th>
                                    
                                    <th>@localizer["Sil"]</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
